.images{
    width: 45px;
    height: 45px
}

.hide{
    display: none;
}
.custom-jumbotron{

    background-color:rgba(82, 179, 224, 0.76);
}
.red{
    background-color: red;
    color: yellow;
    width: 100px;
}